body {
    background: #f3f3f3;
    margin: 0 auto;
    padding: 0 auto;
}

input {
    border-radius: 6px;
    /*border-style: */
}

span {
    font-weight: bold;
}

#header-img {
    margin-left: 10%;
    width: 30%;
}

#separator_line {
    margin-top: -15px;
    margin-bottom: 15px;
    height: 10px;
    background-image: url("../image/separator_line.png");
}

#content {
    text-align: center;
}

#content > h1 {
    font-size: 50px;
    font-family: 微软雅黑;
    margin-top: 3.5%;
}

#content > h2 {
    font-size: 43px;
    font-family: 微软雅黑;
    font-weight: 10px;
}

#content > img {
    width: 25%;
    margin-top: 2%;
    max-width: 350px;
    max-height: 350px;
}